<div class="dialog-content-wrapper custom-dialog w-900">
    <mat-toolbar>
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span>Create Product</span>
        <button mat-icon-button (click)="cancel()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-16 m-0" fusePerfectScrollbar>
      <form *ngIf="productForm" [formGroup]="productForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxFlexFill fxLayoutAlign="start space-between">
            <mat-form-field fxFlex="33" fxFlexAlign="start stretch" fxFlex.xs="50">
              <input type="text" matInput class="form-control"
                placeholder="User Id" formControlName="uid">
                <mat-error *ngIf="productForm.controls.uid.invalid">
                  <app-validation [control]="productForm.controls.uid"></app-validation>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexAlign="start stretch" fxFlex.xs="50">
              <input type="text" matInput class="form-control"
                placeholder="Blend Name" formControlName="blend_name" required>  
                <mat-error *ngIf="productForm.controls.blend_name.invalid">
                    <app-validation [control]="productForm.controls.blend_name"></app-validation>
                  </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlexAlign="start stretch" fxFlex.xs="50">
              <input type="text" matInput class="form-control"
                placeholder="Origin" formControlName="origin">
                <mat-error *ngIf="productForm.controls.origin.invalid">
                  <app-validation [control]="productForm.controls.origin"></app-validation>
                </mat-error>
            </mat-form-field>
          </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxFlexFill fxLayoutAlign="start space-between">
          <mat-form-field fxFlex="33" fxFlexAlign="start stretch" fxFlex.xs="50">
            <input type="text" matInput class="form-control"
              placeholder="Variety" formControlName="variety">
              <mat-error *ngIf="productForm.controls.variety.invalid">
                <app-validation [control]="productForm.controls.variety"></app-validation>
              </mat-error>  
          </mat-form-field>
          <mat-form-field fxFlex="66" fxFlexAlign="start stretch" fxFlex.xs="50">
            <textarea matInput placeholder="note"  formControlName="notes"></textarea>
        </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxFlexFill fxLayoutAlign="start space-between">
            <mat-form-field fxFlex="33" fxFlexAlign="start stretch" fxFlex.xs="50">
              <input type="text" matInput class="form-control"
                placeholder="Intensifier"  formControlName="intensifier">  
            </mat-form-field>
            <mat-error *ngIf="productForm.controls.intensifier.invalid">
              <app-validation [control]="productForm.controls.intensifier"></app-validation>
            </mat-error>
          </div>
      </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" class="mr-8" (click)="cancel()">
       Cancel</button>
      <button mat-button color="accent" class="mr-8" (click)="save()">
       Save</button>
    </div>
  </div>
  