.productListTbl {
   width: 100%;
}

.center {
    padding: 1%;
}

.search-wrapper {
    margin-right: 2%;
    margin-top: 1%
}

.searchInput {
    border-radius: 30px;
    padding: 5%;
}

table th {
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: bold;
    background-color: #00b4ff3d; 
}

table tbody tr td {

    padding: 8px !important;
}